<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"
     routerLink='/'>Recipe Book</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" 
          routerLinkActive="active">
        <a class="nav-link"
           routerLink='/recipes'>Recipes
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="/shopping-list"
           >Shopping List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" ngDropdown>
        <a class="dropdown-toggle cursor-pointer" role="button">Manage <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class='dropdown-item cursor-pointer'>Save Data</a>
          <a class='dropdown-item cursor-pointer'>Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>